.search-1 li:hover {
    cursor: pointer;
    background-color: lightgray;
}

.search-1 li {
    height: 40px;
    line-height: 40px;
}

.search-1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}

.input {
    height: 25px;
}