.search-1 li:hover {
    cursor: pointer;
    background-color: lightgray;
}

.search-1 ul {
    list-style: none;
    padding: 5px 0;
    border: 1px solid #ddd;
    border-top: none;
    margin: 0;
}

.search-1 li {
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
}

.search-1 {
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 50px auto 20px;
}

.search-1 .input {
    height: 40px;
    border: 1px solid #ddd;
    /*border-radius: 15px;*/
    padding: 5px 20px;
    font-size: 15px;

}